{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block body %}

<div class="container" id="welcome">
        <h2>WELCOME, {{ current_user.username }}!</h2>
    </div>
    
    <div class="container" id="nav">
        <div class="row" style="text-align: center;">
            <a href="{{ url_for('home.admin_dashboard') }}"><div class="col-sm-2">Dashboard</div></a>
            <a href="{{ url_for('admin.list_participants') }}"><div class="col-sm-2">Paricipant</div></a>
            <a href="{{ url_for('admin.list_storages') }}"><div class="col-sm-2">Storage</div></a>
            <div class="col-sm-4"></div>
            <a href="{{ url_for('auth.logout') }}"><div class="col-sm-2">Logout</div></a>
        </div>
    </div>

<div class="container" id="list-peserta">
    This is dashboard for admin! <br/>
</div>

{% endblock %}