
{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}

<div class="container" id="home1">
        <div id="home">Purnomo Yusgiantoro Center BUSINESS CASE COMPETITION IPFEST 2020</div>
        <div class="container text-center">
            <img id="logo1" src="../../static/img/ipfest.svg" alt="ipfest">
            <span><img id="logo1" src="../../static/img/bcc.svg" alt="bcc1"></span>
        </div>

        <a href="/login"><div class=btn id="login-home">Login</div></a>
</div>
{% endblock %}