{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_storage %}
        Add Storage
    {% else %}
        Edit Storage
    {% endif %}
{% endblock %}
{% block body %}
<div class="outer">
<div class="middle">
    <div class="inner">
    <div class="center">
        {% if add_storage %}
            <h1>Add Storage</h1>
        {% else %}
            <h1>Edit Storage</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
    </div>
    </div>
</div>
</div>

{% endblock %}