{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Participants{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Participants</h1>
        {% if participants %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="25%"> Participant Name </th>
                  <th width="15%"> FCD </th>
                  <th width="15%"> USD </th>
                  <th width="15%"> SAR </th>
                  <th width="15%"> RUB </th>
                  <th width="15%"> YEN </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for participant in participants %}
                <tr>
                  <td> {{ participant.partname }} </td>
                  <td> {{ participant.fcd }} </td>
                  <td> {{ participant.usd }} </td>
                  <td> {{ participant.sar }} </td>
                  <td> {{ participant.rub }} </td>
                  <td> {{ participant.yen }} </td>
                  <td>
                        <a href="{{ url_for('admin.edit_department', id=department.id) }}">
                          <i class="fa fa-pencil"></i> Edit 
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.delete_department', id=department.id) }}">
                          <i class="fa fa-trash"></i> Delete 
                        </a>
                      </td>
                    </td>  
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No participants have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_participant') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Participant
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}